<%- include("../header.html") %>

<style>
    a {
        color: inherit;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .content div {
        flex-basis: 20em;
        margin: 1em;
    }

    .content div:first-child {
        margin-top: 0;
    }

    .button {
        background: <%= gradientDark %>;
        border-radius: 5px;
        padding: 0.5em 1em;
        text-align: center;
        cursor: pointer;
    }

    .button > * {
        text-align: center;
        margin: 0.5em;
    }

    .ribbon {
        margin-left: 0 !important;
        text-align: center;
        white-space: nowrap;
    }

    .ribbon > span {
        display: inline-block;
        font-weight: bold;
        margin: 0 0.5em;
        padding: 0.5em 1em;
        background: transparent;
        cursor: pointer;
    }

    .selected {
        background: <%= gradientDark %> !important;
    }

    .gradient-text {
        background-image: <%= gradient %> !important;
    }

    .floating {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background: #0004;
    }

    .floating > div {
        border-radius: 0.5em;
        background-color: var(--colour-dark-grey);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
    }
</style>

<div class="header" style="background: <%= gradientDark %>;color:white;"><%= project.name %></div>
<div class="container">
    <div class="content">
        <div style="margin: 0 auto">
            <% if (release != null) { %>
            <div class="button" onclick="openDownloadsDialog(<%= JSON.stringify(release) %>)">
                <h2>Download</h2>
                <p>Version <%= release.name %></p>
                <% } else { %>
                <div class="button">
                    <h2>No downloads</h2>
                    <% } %>
                </div>
                <% if (project.hasOwnProperty("supports")) { %>
                    <div>
                        <h3 class="gradient-text">Supported Platforms</h3>
                        <ul>
                            <% for (let platform of project.supports) { %>
                                <li><%= platform %></li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>
            <div style="flex-grow: 1">
                <div class="ribbon">
                    <% const items = ["description", "updates"];
                    const optionals = ["wiki", "source"]
                    for (let optional of optionals) {
                        if (project.hasOwnProperty(optional)) {
                            items.push(optional);
                        }
                    }
                            for (let item of items) { %>
                        <span class="button<% if (page === item){ %> selected<% } %>"
                              onclick="window.location.href = './<%= item %>'">
                    <%= item.charAt(0).toUpperCase() %><%= item.substr(1) %>
                </span>
                    <% } %>
                </div>