<%- include("header.html") %>

<style>
    :root {
        font-size: 1.3em;
        --gradient: linear-gradient(135deg, var(--colour-dark-purple), var(--colour-dark-blue));

    }
    #github > div *, .icon * {
        vertical-align: middle;
        padding-left: 5px;
    }
    a {
        color: inherit;
    }
    .bg-gradient {
        background: var(--gradient);
    }

    .fullwidth {
        width: 100%;
    }

    .projects > * {
        flex-basis: 10em !important;
        border: 2px solid var(--gradient);
    }

    .top > * {
        flex-basis: 20em !important;
    }
</style>

<div class="header bg-gradient">__lucyy</div>

<div class="flowbox top">
    <div>
        <h1>Hiya! I'm Lucy.</h1>
        <p>I do silly computer stuff. I mostly work in Java and occasionally JavaScript, but I love tinkering and I'm always up for playing with something new.</p>
        <div>
            <div class="icon"><a href="https://github.com/lucyy-mc"><ion-icon size="large" name="logo-github"></ion-icon><span>lucyy-mc</span></a></div>
            <div class="icon"><a href="https://support.lucyy.me"><ion-icon size="large" name="logo-discord"></ion-icon><span>__lucyy#0001 | https://support.lucyy.me</span></a></div>
            <div class="icon"><a href="mailto:lucy@poulton.xyz"><ion-icon size="large"  name="mail-outline"></ion-icon><span>lucy@poulton.xyz</span></a></div>
        </div>
    </div>
    <div id="github">
        <h2>GitHub stats</h2>
        <div><ion-icon name="git-commit-outline"></ion-icon><span><%= github["commits"] %> commits</span></div>
        <div><ion-icon name="star-outline"></ion-icon><span><%= github["stars"] %> stars</span></div>
        <div><ion-icon name="book-outline"></ion-icon><span><%= github["repos"] %> repos</span></div>
        <div><ion-icon name="people-outline"></ion-icon><span>Contributed to <%= github["contributed"] %> repos</span></div>
    </div>
</div>
<h2 style="margin-top: 2em">Projects</h2>
<p style="text-align:center">Here's some of the stuff I'm working on.</p>
<div class="flowbox projects">

    <% for (let project of projects) { %>
        <div>
            <h3><span class="gradient-text" style="background-image: <%= gradient(project) %>"><%= project.name %></span></h3>
            <p><%= project.desc %></p>
            <%- Object.keys(project.links).map(x => `<a href=${project.links[x]}>${x}</a>`).join(" | ") %>
        </div>
    <% } %>
</div>

<%- include("footer.html") %>