<%- include("header.ejs") %>

<style>
    :root {
        font-size: 1.3em;
        --gradient: linear-gradient(135deg, var(--colour-dark-purple), var(--colour-dark-blue));

    }

    .icon * {
        vertical-align: middle;
        text-align: left;
        display: inline-block;
    }

    .icon {
        align-self: center;
    }

    .icon-inner {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin: auto;
    }

    a {
        color: inherit;
    }

    .bg-gradient {
        background: var(--gradient);
    }

    .fullwidth {
        width: 100%;
    }

    .projects > * {
        flex-basis: 10em !important;
        border: 2px solid var(--gradient);
    }

    .top > * {
        flex-basis: 20em !important;
    }
</style>

<div class="header bg-gradient">Lucy Poulton</div>

<div class="flowbox top">
    <div>
        <h1>Hiya! I'm Lucy.</h1>
        <p>I do silly computer stuff. I mostly work in Java and occasionally JavaScript, but I love tinkering and I'm
            always up for playing with something new.</p>
    </div>
    <div class="icon">
        <div class="icon-inner">
            <span>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <a href="https://github.com/lucypoulton">lucypoulton</a>
            </span>
            <span>
                <ion-icon size="large" name="logo-discord"></ion-icon>
                lucypoulton#0001 | <a href="https://discord.lucypoulton.net">discord.lucypoulton.net</a>
            </span>
            <span>
                <ion-icon size="large" name="mail-outline"></ion-icon>
                lucy at lucypoulton dot net
            </span>
        </div>
    </div>
</div>
<h2 style="margin-top: 2em">Projects</h2>
<p style="text-align:center">Here's some of the stuff I'm working on.</p>
<div class="flowbox projects">
    <% for (let project of projects.sort((one, two) => one.order - two.order)) { %>
        <div>
            <h3><a href="<%= project.simpleName %>"><span class="gradient-text"
                                                          style="background-image: <%= gradient(project) %>"><%= project.name %></span></a>
            </h3>
            <p><%= project.shortdesc ?? project.desc %></p>
            <%- Object.keys(project.links).map(x => `<a href=${project.links[x]}>${x}</a>`).join(" | ") %>
        </div>
    <% } %>
</div>

<%- include("footer.html") %>
